<template>
  <div class="flex flex-col justify-center px-40 py-20">
    <input
      class="
        appearance-none
        bg-gray-200
        border-4
        w-full
        text-gray-700
        mr-3
        py-1
        px-2
        leading-tight
        focus:outline-none
      "
      @input="onChangeInput"
    />
    <h1>{{ message }}</h1>
  </div>
</template>

<script>
function onChangeInput(e) {
  this.message = e.target.value;
}

export default {
  name: "IndexPage",
  methods: {
    onChangeInput,
  },
  data() {
    return {
      message: "",
    };
  },
};
</script>
